.content {
    display: flex;
    justify-content: center;
}

.stickerContainer {
    align-content: space-between;
    border-radius: 10px;
    box-shadow: #00000061 0 5px 10px, inset #00000024 0 0 50px;
    display: flex;
    flex-direction: column;
    height: 243px;
    justify-content: space-between;
    margin-top: 10%;
    text-align: center;
    width: 432px;
}

.stickerHeader, .stickerFooter {
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

.stickerHeader {
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
}

.stickerHeader > h1 {
    font-weight: 100;
    letter-spacing: 0.6rem;
    margin: 0;
}

.stickerHeader > span {
    letter-spacing: 0.21rem;
}

.stickerBody {
    align-items: center;
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: center;
}

.stickerBody > span {
    font-family: monospace;
    font-size: 2rem;
    transform: rotate(-5deg);
}

.stickerFooter {
    border-radius: 0 0 10px 10px;
    padding: 7px;
}

.stickerFooter > a {
    color: white;
}

.stickerFooter > span {
    font-size: 0.8rem;
    white-space: pre;
}
